<header class="mb-4">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">
			<a class="navbar-brand" href={{ path('home_index') }}>DjoumaCook</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav w-100">

					<li class="ms-auto">
						<a class="nav-link" href={{ path('recipe_index') }}>Recettes</a>
					</li>
					<li class="ms-auto">
						<a class="nav-link" href={{ path('home_index') }}>Menu</a>
					</li>
					<li class="ms-auto">
						<a class="nav-link" href={{ path('home_index') }}>Astuces Digestion</a>
					</li>

					{% if is_granted('ROLE_ADMIN') %}
						<li class="ms-auto">
							<a class="nav-link" href={{ path('admin_dashboard_index') }}>Dashboard Admin</a>
						</li>
					{% endif %}

					{# Enlever le commentaire suivant si nécessaire #}
					{# {% if not is_granted('IS_AUTHENTICATED') %} #}
						<li class="ms-auto d-flex align-items-center">
							<a class="nav-link" href={{ path('app_login') }}>Connexion</a>
							<span class="text-light">/</span>
							<a class="nav-link" href={{ path('app_register') }}>Inscription</a>
						</li>
					{# {% endif %} #}
					{% if is_granted('IS_AUTHENTICATED') %}
						<li class="ms-auto">
							<a class="nav-link" href={{ path('app_logout') }}>Déconnexion</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>

